.panelContainer {
  position: absolute;
  top: 0;
  height: 150vh;
  width: 100%;
}

.panel {
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  height: 100vh;
}

.panel > * {
  height: 100%;
}
