.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px !important;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 1.3em;
}

.headerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 12px;
}

p.bodyText {
  font-size: 0.8em;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
