.Header {
  width: 100vw;
  position: absolute;
  top: calc(env(safe-area-inset-top) + 20px);
  left: 0;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
}

.icon {
  width: 20px !important;
  height: 20px !important;
  color: white;
}

.filter {
  transition-duration: 0.3s;
  transform: translateX(0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 6px;
  box-sizing: border-box;
  height: 45px;
  border-radius: 40px;
  width: 60px;
  flex-grow: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search {
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 60px;
  border-radius: 40px;
  width: 80%;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625em 1em 0.4375em 1em;
  z-index: 1;
}

.title {
  font-size: 1.5625rem;
  font-weight: lighter;
  color: grey;
  text-align: left;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
}

.animateFilter {
  animation-duration: 0.3s;
  animation-name: animateFilterAway;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.animateFilterBack {
  animation-duration: 0.3s;
  animation-name: animateFilterBack;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animateSearchBar {
  animation-duration: 0.3s;
  animation-name: animateSearchAway;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.animateSearchBarBack {
  animation-duration: 0.3s;
  animation-name: animateSearchBack;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes animateFilterAway {
  20% {
    transform: translateX(10px);
  }
  50% {
    height: 40px;
  }
  100% {
    height: 40px;
    transform: translateX(-120%);
  }
}

@keyframes animateSearchAway {
  00% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(20px);
  }

  100% {
    height: 40px;
    transform: translateY(-200%);
  }
}

@keyframes animateFilterBack {
  0% {
    height: 40px;
    transform: translateX(-120%);
  }
  70% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes animateSearchBack {
  0% {
    height: 40px;
    transform: translateY(-250%);
  }
  70% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0%);
  }
}
