.notificationsPage {
  width: 100%;
  padding: 0 12px 0 12px;
  box-sizing: border-box;
  padding-top: calc(env(safe-area-inset-top) + 10px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.infoCard {
  border-radius: 12px !important;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.notificationContent {
  display: flex;
  width: 85%;
  flex-direction: column;
  color: black;
}
.notificationContent .title {
  font-size: 1rem;
  font-weight: bold;
}

.notificationContent .body {
  font-size: 0.8rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.625em 1em 0.4375em 1em;
  z-index: 1;
}

p.title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0;
  margin-bottom: 1.5rem;
  letter-spacing: normal;
}

.notificationList {
  overflow-y: auto;
}

p.bodyText {
  font-size: 0.8em;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: gray;
}

.animate {
  animation-duration: 0.3s;
  animation-name: animateCards;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes animateCards {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  70% {
    opacity: 0.7;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
