.circle-with-arrow {
  position: absolute;
  display: inline-block;
}
.circle {
  width: 32px;
  height: 32px;
  border: 2px solid #621360;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.arrow {
  position: absolute;
  top: -22px; /* Adjust this value as needed */
  left: 6px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #621360; /* Creates the upward arrow */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(98, 19, 96, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgb(98, 19, 96, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(98, 19, 96, 0);
  }
}
