.panel1 {
  width: 100vw;
  height: 50vh;
  margin: 1em;
  margin-top: calc(50vh - 1em);
}

.panel2 {
  width: 100vw;
  height: calc(100vh - 2em);
  bottom: 0;
  margin: 1em;
}

.panel1 > *,
.panel2 > * {
  height: inherit;
  margin-bottom: 1em;
}

.panelContainer1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200vw;
  bottom: 0;
  top: 0;
  /* height: 100vh; */
  right: 0;
}
.panelContainer2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200vw;
  bottom: 0;
  top: 0;
  /* height: 100vh; */
  left: 0;
}
