.location-marker {
  position: relative;
  display: inline-block;

  &__circle {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    background-color: #1b73e1;
    border-radius: 50%;
  }
  &__pulse {
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(27, 115, 225, 0.3);
  }
  33% {
    box-shadow: 0 0 0 5px rgba(27, 115, 225, 0.3);
  }
  66% {
    box-shadow: 0 0 0 10px rgba(27, 115, 225, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(27, 115, 225, 0);
  }
}
