.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  left: 0 !important;
}

.floatLeft {
  position: absolute;
}

.stopTitle {
  width: 100% !important;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  align-items: center;
}
