.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em 1em 0.5em;
  box-sizing: border-box;
  left: 0 !important;
  top: 0;
  background-color: inherit;
  /* padding-top: 14px; */
  padding-bottom: 12px;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: env(safe-area-inset-bottom);
}

.content > :last-child {
  margin-bottom: 1em;
}

.backButton {
  position: absolute !important;
}

.stopTitle {
  width: 100% !important;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  align-items: center;
  /* font-family: GoogleSans; */
}
