.titleContainer {
  position: absolute;
  display: flex;
  width: 89vw;
  top: 43px;
  height: 40px;
  justify-content: center;
}
.title {
  justify-content: center;
  align-self: center;
  z-index: 1000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: antialiased !important;
  text-rendering: optimizeLegibility !important;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px !important;
}
